body{
    background-color: grey;
    color: black;
    margin: 0px;
    font-family: "Quicksand", sans-serif;
header{border: solid 2px rgb(8, 8, 8);
padding:10px;
font-size:15px;
color:rgb(8, 8, 8)
}
.chamada{background-color:grey;
padding-bottom: 80px;
padding-top: 5px;
}